<tbody class="bg-white divide-y divide-gray-200">
  <tr>
    <td class="px-6 py-4 whitespace-nowrap">
      <div class="text-sm font-medium text-gray-500"><%= persona.nombre %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <div class="text-sm text-gray-500"><%= persona.apellido_p %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <div class="text-sm text-gray-500"><%= persona.apellido_m %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <div class="text-sm text-gray-500"><%= persona.fecha_nacimiento %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
      <div class="text-sm text-gray-500"><%= persona.sexo %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
      <div class="text-sm text-gray-500"><%= persona.lugar_nacimiento %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
      <div class="text-sm text-gray-500"><%= persona.estado_civil %></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
      <a href="#" class="text-gray-500 tracking-wide text-sm"><%= link_to "Ver persona", persona %></a>
    </td>
  </tr>
</tbody>

<!--
<div id="<%= dom_id persona %>">
  <p>
    <strong>Nombre:</strong>
    <%= persona.nombre %>
  </p>

  <p>
    <strong>Apellido p:</strong>
    <%= persona.apellido_p %>
  </p>

  <p>
    <strong>Apellido m:</strong>
    <%= persona.apellido_m %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= persona.fecha_nacimiento %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= persona.sexo %>
  </p>

  <p>
    <strong>Lugar nacimiento:</strong>
    <%= persona.lugar_nacimiento %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= persona.estado_civil %>
  </p>

</div>

-->
